:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.8;
  font-weight: 500;

  color-scheme: light dark;
  color: rgb(79, 77, 77);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: white;
  background-image: radial-gradient(rgb(0, 0, 0, 0.5) 2px , transparent 2px);
  background-size: 36px 36px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #787575;
  cursor: pointer;
  transition: border-color 0.25s;
}



.buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 24px;
  
}

.buttons > button:hover {
  transition: 0.2s all ease;
}
.buttons > button:hover {
  transform: scale(110%);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.buttons > button:active {
  transform: scale(0.98);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

button:hover {
  border-color: #404043;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.wrapper-home { 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100wh;
}


html, body {
  overflow: auto;          
  scrollbar-width: none;   
}


html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.bottom {
  padding: 36px;
  background-color: rgb(128, 128, 128, 0.8);
  border-radius: 8px;
  color: white;
}


.subtitle-line {
  font-size: larger;
  font-weight: 600;
  padding: 12px;
  border-radius: 8px;
  background-color: rgb(128, 128, 128, 0.3);
  width: 600px;
  box-sizing: border-box;
  
  overflow-wrap: break-word;
  max-width: 600px;
  margin-top: 12px;
}

.word-explanation {
  position: absolute;
  
  left: calc(100% + 100px);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 16px;
  border-radius: 8px;
  max-width: 300px;
}


.clicked-word {
  background-color: #213547;
  border-radius: 4px;
  padding: 4px;
}
